*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
#html body{
  background: url(backg.png);
}
#logonalogin{
  background: #000;
  display: flow-root;
}
#logonalogin img{
  width: 3.5cm;
}
#logInbtn{
  margin-top: 3%;
  padding-bottom: 3px;
  background: transparent;
  border-radius: 20px;
  outline: none;
  border: #000;
  width: 100px;
  align-items: center;
  height: 40px;
  position: relative;
  float: right;
}
#logonalogin button img{
  width: 50px;
}
.nav {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(120deg, rgb(158, 89, 6) , rgb(149, 235, 64));
  color: #fff;
}

.nav .top {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .top .menu-btn {
  border: none;
  padding: 7px 10px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  background: linear-gradient(120deg, #f13939 , #fff);
}
.nav .top .menu-btn:hover{
  color: orange;
  background: #1876f3;
  transition: all 0.5s ease;
}
.nav .list {
  display: none;
  transition: all .4s;
}

.nav .list li a {
  display: block;
  width: 100%;
  padding: 10px 60px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: all .4s;
  list-style-type: none;
}
.nav .list li a img{
  width: 45px;
  bottom: 0;
  right: 5px;
}
.nav ul li a:hover {
  background: rgb(255, 255, 255, .2);
}
.search-bar {
  width: 300px;
  height: 45px;
  
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: 2px solid #1876f3;
  box-shadow: 0 0 0 8px rgb(24, 118, 243, .3);
  overflow: hidden;
}

.search-bar input {
  width: 250px;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px 0 15px;
}

.search-bar button {
  height: 100%;
  width: 48px;
  background: #1876f3;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}
#firsthd{
 margin: 4rem;
 align-items: center;
 text-align: center;
 justify-items: center;

}
#h1{
  font-weight: bold;
  color: #886868;
  border-left: rgb(8, 8, 8) solid 20px;
  padding: 4px;
  width: 250px;
  font-size: 35px;
  text-shadow: 5px 5px 1px #0a0101;
  font-style: italic;
  font-family: fantasy;
  letter-spacing: 5px;
}
#music-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#musicitem{
  border-radius: px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: #f0a8a8 solid 1px; 
  margin: 2rem;
  padding: 1.5rem;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 8px 8px 15px 10px rgba(25, 3, 46, 0.5);
}
#musicitem img{
  margin-top: 2px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 8px 8px 15px rgba(25, 3, 46, 0.5);
}
#musicitem video{
  width: 100%;
  height: 100%;
}
#musicinfo{
  margin-top: 15px;
  margin-left: 10px;
  font-size: auto;
  font-weight: bold;
  text-align: center;
}
#musicitem audio{
  margin-top: 20px;
}
#musicinfo a:hover{
  color: rgb(100, 100, 8);
  transition: all .3s ease;
}
#below{
  font-weight: bold;
  align-items: center;
  display: flex;
  text-align: center;
  opacity: 50%;
}
#below img{
  width: 20px;
  margin-bottom: 5px;
}
#download-btn{
  margin-top: 30px;
  margin-bottom: 20px;
  background: linear-gradient(180deg, #f34b4b, #5c5151);
  font-weight: bold;
  border-radius: 15px;
  height: 40px;
  width: 150px;
  border: none;
  margin-left: 10px;
  padding: 15px;
  box-shadow: 8px 8px 15px rgba(25, 3, 46, 0.5);
}
#download-btn:focus{
  box-shadow: 0 0 0 4px rgba(20, 20, 20, 0.2);
  transition: all .5s ease-in-out;
}
#download-btn:hover{
  background: #000;
  transition: all 0.5s ease;
}
#musicitem div input{
  background: transparent;
  border: none;
}
#follow-links img{
  width: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#follow-links img:hover{
  width: 25px;
  transition: all 1s ease;
}
#follow-links{
  gap: 20px;
  font-size: 30px;
  color: #500404;
}
footer {
  padding: 15px;
  text-align: center;
  background: #333;
  color: #f8f5f5;
}

#more{
  margin: 1cm;
  background: transparent;
  border-radius: 10px;
  border: #000 solid;
  backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}
#more :hover{
  color: yellowgreen;
  transition: all .5s ease;
}
.login-form{
  width: 300px;
  padding: 40px;
  padding-right: 60px;
  background: transparent;
  backdrop-filter: blur(10px);
  color: #000;
  margin: 10% auto;
  box-shadow: 8px 8px 15px rgba(25, 3, 46, 0.5);
  border-radius: 25px;
  border: 2px solid #000 ;
}
.login-form label{
  display: block;
  width: 100%;
  padding: 2px 0;
  font-weight: bold;
}
.login-form input{
  width: 100%;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-bottom: green solid 2px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: rgb(235, 206, 154);
}
.login-form h2{
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.login-form input:focus{
  box-shadow: 0 0 0 4px rgb(255, 255, 255, .2);
}
.login-form button{
  width: 100%;
  height: 42px;
  margin-left: 8px;
  margin-top: 10px;
  border: none;
  outline: none;
  background: linear-gradient(130deg, orange, white);
  color: #500404;
  font-weight: bold;
  border-radius: 35px;
  border: 2px solid;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  letter-spacing: 1.5px;
}
.login-form button:hover{
  background:linear-gradient(120deg, #777373, #2b75d6);
  transition: all 1s ease;
}
.login-form label img{
  width: 15px;
}
@media (max-widith:360px) {
  .login-form{
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }
  
}

.login-form span{
  display: flex;
  align-items: center;
}
#artistsbio{
  display: flex;
  margin: 2rem;
  padding: 2rem;
  background: transparent;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 8px 15px 10px rgba(25, 3, 46, 0.5);
  align-items: center;
}
#genresid{
  display: grid;
  margin: 2rem;
  padding: .5rem;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 8px 8px 15px 10px rgba(25, 3, 46, 0.5);
  align-items: center;
  justify-items: center;
  text-align: center;
}
#genresid div{
  padding-top: .5cm;
}
#genresid div img{
  width: 30%;
  box-shadow: 3px 6px 7px #570505;
  border-radius: 15px;
}
#genresid div p{
  margin: 1cm;
  font-size: 25px;
  font-weight: bold;
  color: #083d81;
  padding: 5px;
  border: none;
  border-bottom: firebrick solid 4px;
}
#chambabtn{
  width: 100px;
  height: 40px;
  background: transparent;
  font-weight: bold;
  color: #500404;
  border-radius: 20px;
  margin: 20px;
  border: none;
  border-bottom: #000 solid 2px;
  border-top: #000 solid 2px;
  box-shadow: 3px 3px 10px rgb(2, 51, 2);
}
#chambabtn:hover{
  width: 150px;
  transition: all .3s ease-in-out;
}
#biohead{
  top: 0%;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  color: #083d81;
}
#artistsbio img{
  width: 50%;
}
#artistsbio span{
  top: 0%;
  padding: 3px;
  font-weight: bold;
}
#artistshead{
  font-size: 30px;
  font-weight: bold;
  color: rgb(68, 131, 9);
  border-top: #490202 solid 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 5px 5px 10px rgba(25, 3, 46, 0.5);
}
#allartists{
  margin: 2%;
  background-color: #a59a9a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(25, 3, 46, 0.5);
  text-align: center;
}
#hiphop{
  margin: 2%;
  background-color: #222121;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(25, 3, 46, 0.5);
  text-align: center;
}
#topartists{
  margin: 2%;
  background-color: darkgoldenrod;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
#oyimbaspan img{
  width: 20%;
}
#dancehall{
  margin: 2%;
  background-color: darkgoldenrod;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(25, 3, 46, 0.5);
  text-align: center;
}
#afro{
  margin: 2%;
  background-color: rgb(87, 107, 87);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(25, 3, 46, 0.5);
  text-align: center;
}
#amapiano{
  margin: 2%;
  background-color: #0f0f0f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(25, 3, 46, 0.5);
  text-align: center;
}
#regea{
  margin: 2%;
  background-color: #2b0202;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(25, 3, 46, 0.5);
  text-align: center;
}
#others{
  margin: 2%;
  background-color: olive;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(25, 3, 46, 0.5);
  text-align: center;
}
#oyimbaspan{
  gap: 20px;
  margin: 0;
}
#artistsbtn{
  background-color: transparent;
  border: #fff solid 2px;
  margin: 10px;
  width: 2cm;
  height: 1cm;
  border-radius: 10px;
  color: #1876f3;
  font-size: 13px;
  font-weight: bold;
}
#artistsbtn:hover{
  background: linear-gradient(120deg, #d3a0a0, #b9b4b4);
  transition: all .5s ease;
}
#backBtn{
  position: fixed;
  bottom: 20px;
  right: -100%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #000;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
  border-radius: 50%;
  font-size: 14px;
  transition: all 4s;
}
#backBtn.active{
  right: 20px;
}